/* All components css is included here  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* ****************************************** HEADER ************************************************************ */
  .header{
    margin: 20px;
    height: 150px;
}

/* ********************************************* SEARCH ************************************************************* */
 .searchbox p{
    display: block;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 0px;
  }

.search-input{
    padding: 25px 0px;
    display: flex;
    justify-content: center;
}
.search-output button{
  padding: 5px 10px;
  margin: 10px;
  font-size: 1.2rem;
}
.search-input button{
  color: #fff;
  border: none;
  background: rgb(15, 231, 123);
  padding: 7px 25px;
  border-radius: 0px 5px 5px 0px;
}
i{
  color: black;
}
.search-input input{
    padding: 5px 10px;
    width: 500px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
.search-output-text{
  padding: 5px 15px;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(36, 36, 36);
}

/* *********************************************** CHARACTER'S CARD HOVER EFFECT ****************************** */

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {

    background-color: transparent;
    width: 270px;
    height: 320px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

.flip-card h2{
    color: aqua;
}
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    padding: 20px;
    background-color: rgb(43, 43, 43);
    color: white;
    transform: rotateY(180deg);
  } 

  .cards{
    margin: 90px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    justify-items: center;
    gap: 1.5rem;
  }

.description{
    margin-top: 8px;
}